@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

.container{
  padding: 30px 10%;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}

.back-to-top b {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background:  #E77E23;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top b:hover {
  background: #ffb06c;
  color: #fff;
}

button {
  padding: 0.8em 1.3em;
  background-color: #E77E23;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(231, 126, 35, 0.7);
}

/* Start Navbar */
.nav-links li, a, button{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.sticky {
  z-index: 1;
  background-color: rgba(231, 127, 35, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 10%;
  height: 80px;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 150px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0PX 30px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-buttons:hover::after{
  content: '';
  display: block;
  border-bottom: 5px solid #E77E23;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -10px;
}

/* Menu Toggle */
.menu-toggle{
  display: none;
}

.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}
/* End Menu Toggle */

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  .menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu-toggle.click{
    box-shadow: 0px 0px 5px #424242
  }

  .nav-links{
    z-index: 1;
    display: none;
    width: 100vmax;
    flex-direction: column;
    align-items: center;
    background-color: #E77E23;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.33);
  }

  .nav-links li a:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #ffffff;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .nav-links li, a, button{
    font-size: 16px;
    padding: 20px 0;
  }

  .nav-links.show{
    display: flex;
    z-index: 2;
    margin-top: 5px;
  }
}
/* End Navbar */

/* Start Hero */
#Hero{
  width: 100%;
  background-image: url(../img/img-main.jpg);
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text{
  opacity: 0;
  font-weight: 600;
  font-size: 2vmax;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button{
  margin-top: 50px;
}

#Hero .hero-text.show{
  opacity: 1;
  transform: translate(-50%, -40%);
  transition: 1s;
}

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  #Hero{
    height: 800px;
    position: relative;
    background-attachment: scroll;
  }

  .hero-text{
    font-size: 30px;
    width: 90%;
  }

  .hero-text button{
    padding: 10px 20px;
    background-color: #E77E23;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 50px;
    font-size: 16px;
  }
}
/* End Hero */

/* Start About */
#About{
  width: 100%;
  margin: 100px 0;
  background-image: url(../img/bg-title-.svg);
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
  height: 1200px;
}

#About .container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

#About .container::after{
  content: "";
  z-index: -1;
  width: 70%;
  height: 1000px;
  position: absolute;
  top: 220px;
  left: 460px;
  background-color: rgba(245, 249, 250, 0.9);
}

#About .about-text{
  opacity: 0;
  margin-left: 100px;
  margin-top: 250px;
  transform: translate(50px, 0);
  transition: 1s;
}

#About .about-text.show{
  opacity: 1;
  transform: translate(0,0);
}

#About .about-img{
  width: 50%;
}

#About .about-img-content{
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
  width: 100%;
}

#About .about-img-content.show{
  opacity: 1;
  transform: translate(0,0);
}

#About .about-text{
  width: 50%;
}

#About .title{
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  color: #E77E23;
  margin-bottom: 20px;
}

#About .about-text .right-text{
  color: black;
}

#About .about-text p{
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.3vmax;
  line-height: 50px;
  margin-bottom: 40px;
}

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  #About {
    background-image: none;
    height: auto;
  }

  #About .container{
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #About .about-box{
    display: none;
  }
  
  #About .about-img{
    width: 100%;
  }

  #About .about-img-content{
    width: 100%;
  }

  #About .about-text{
    margin: 15px 0;
    width: 100%;
  }

  #About .about-text .title{
    font-size: 40px;
  }

  #About .about-text p{
    font-size: 20px;
  }

  #About .container::after{
    content: none;
  }
}
/* End About */

/* Start Features */
#Features{
  position: relative;
  width: 100%;
  height: 700px;
  margin-bottom: 100px;
}

#Features .title{
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 50px auto;
  color: #E77E23;
}

#Features .title .right-text{
  color: black;
}

#Features .container{
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px 10%;
}

#Features .container div{
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.5s;
  width: 500px;
  height: 500px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 40px;
  margin: 60px 0px;
  font-size: 20px;
}

#Features .container div.show{
  opacity: 1;
  transform: translate(0, 0);
}

#Features .container h3{
  margin: 25px 0;
  color: #E77E23;
  letter-spacing: 1px;
}

#Features .container p{
  padding: 0px 60px;
  letter-spacing: 1px;
}

#Features .box{
  width: 33%;
  padding-top: 50px;
}

#Features .middle{
  border-left: 2px solid rgb(230, 230, 230);
  border-right: 2px solid rgb(230, 230, 230);
}

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  #Features{
    position: relative;
    width: 100%;
    height: 1500px;
    margin-bottom: 100px;
  }

  #Features .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #Features .container div{
    width: 100%;
    height: auto;
  }

  #Features .title{
    font-size: 40px;
  }

  #Features .container div{
    margin: 0px 0px;
  }

  #Features .container p{
    padding: 0;
  }

  #Features .middle{
    border: none;
  }

  #Features .box{
    padding-bottom: 50px;
  }
  
}
/* End Features */

/* Start How it's Works */
#How{
  width: 100%;
  height: 1400px;
  background-color: #F5F9FA;
  position: relative;
}

#How .how-bg{
  background-image: url(../img/bg-title-works.svg);
  position: absolute;
  top: -50px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#How .container{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  margin-bottom: 100px;
}

#How .how-img{
  position: absolute;
  top: 415px;
  right: 0px;
}

#How .how-text{
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
  font-family: "Pacifico", sans-serif;
  font-size: 55px;
  text-align: left;
  margin-top: 190px;
}

#How .how-text.show{
  opacity: 1;
  transform: translate(0, 0);
}

#How .title{
  color: #E77E23;
}

#How .how-text .right-text{
  color: black;
}

#How .how-text p{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
}

#How .how-text table{
  width: 100%;
}

#How .how-description{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
}

#How .number-circle {
  width: 100px;
  height: 100px;
  text-align: center;
}

#How .number-circle .number{
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  border: 5px solid #E77E23;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding: 5px;
  color: #E77E23;
}

#How .number-circle-active .number{
  font-family: "Montserrat", sans-serif;
  border: 5px solid #E77E23;
  background-color: #E77E23;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding: 5px;
  margin-right: 30px;
  color: white;
}

#How .number-text{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vmax;
  text-align: left;
  margin-top: 20px;
  line-height: 40px;
  padding-right: 150px;
}

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  #How {
    height: 1000px;
  }

  #How .container{
    display: block;
  }
  #How .how-bg{
    background-image: none;
  }

  #How .how-text{
    margin-top: 50px;
  }

  #How .how-text .title{
    font-size: 40px;
  }

  #How .how-img{
    display: none;
  }

  #How .how-description{
    margin: 40px auto;
    width: 100%;
  }

  #How .number-text{
    font-size: 16px;
    padding: 0;
    line-height: 25px;
  }
}

/* Laptop View */
@media (max-width: 1366px){
  #How {
    height: 1200px;
  }
  #How .how-img{
    position: absolute;
    top: 550px;
    right: 0px;
  }

  #How .how-img-content{
    height: 700px;
  }
}
/* End How it Works */

/* Start Download */
#Download{
  width: 100%;
  height: 750px;
  background-color: #E77E23;
  margin-bottom: 300px;

}

#Download .container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

#Download .download-img{
  margin-top: 170px;
}

#Download .download-text{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  letter-spacing: 2px;
}

#Download .download-text p{
  font-weight: 400;
  font-size: 1.5vmax;
  line-height: 40px;
  text-align: justify;
  margin-top: 50px;
}

#Download .download-text .row{
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

#Download .download-text .col{
  padding: 5px;
}

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  #Download{
    margin: 0;
    height: 700px;
  }

  #Download .download-img{
    display: none;
  }

  #Download .container{
    display: block;
  }

  #Download .download-text{
    margin: 0;
  }

  #Download .download-text .row{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  #Download .download-text .row .col img{
    width: 100%;
  }

  #Download .download-text{
    font-size: 40px;
  }
  
  #Download .download-text p{
    font-size: 20px;
    line-height: 30px;
  }

  #Download .download-text .row{
    width: 80%;
    margin: 70px auto;
  }
}

/* Laptop View */
@media (max-width: 1366px){
  #Download .download-img-content{
    width: 400px;
  }

  #Download .download-text .col img{
    width: 300px;
  }

  #Download{
    margin-bottom: 0;
  }
}
/* End Download */

/* Start Partners */
#Partners .container{
  margin-bottom: 100px;
}

#Partners .title{
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 50px auto;
}

#Partners .title{
  color: #E77E23;
}

#Partners .title .right-text{
  color: black;
}

#Partners .section-text{
  margin: 40px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5vmax;
  letter-spacing: 2px;
  text-align: center;
  line-height: 58px;
}

#Partners .bottom-text{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5vmax;
  letter-spacing: 2px;
  text-align: center;
}

/* Responsive Breakpoint */
/* Mobile View */
@media (max-width: 1024px){
  #Partners .title{
    font-size: 40px;
  }

  #Partners .section-text{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 45px;
  }
}
/* End Partners */

/* Start Coverage */
#Coverage{
  width: 100%;
  height: 400px;
  font-family: "Montserrat", sans-serif;
}

#Coverage .section-title{
  padding: 50px 8% 25px 8%;
  font-weight: 600;
  font-size: 1.5vmax;
}

#Coverage .container{
  padding: 0px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Coverage .container li{
  list-style-type: none;
  font-size: 1.5vmax;
  line-height: 58px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  #Coverage{
    height: auto;
    padding-bottom: 60px;
  }
  #Coverage .section-title{
    font-size: 20px;
  }

  #Coverage .container li{
    font-size: 16px;
  }

  #Coverage .container{
    display: flex;
    flex-wrap: wrap;
  }
}
/* End Coverage */

/* Start Footer */
#Footer .container{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vmax;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#Footer .footer-logo{
  width: 200px;
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(338deg) brightness(0) contrast(109%);
}

#Footer .social{
  width: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  #Footer .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  #Footer .footer-logo{
    width: 100px;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(338deg) brightness(0) contrast(109%);
  }
}
/* End Footer */